<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Your App Title</title>
    <link type="text/css" rel="stylesheet" href="//cloud.typography.com/75214/6517752/css/fonts.css" media="all" />
    <link rel="stylesheet" href="https://cdn.byu.edu/byu-theme-components/latest/byu-theme-components.min.css" />
    <script async src="https://cdn.byu.edu/byu-theme-components/latest/byu-theme-components.min.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
    <div id="app">
        <byu-header constrain-top-bar>
            <h1 slot="site-title">{{$store.state.site.title}}</h1>

            <byu-search slot="search" placeholder="Search" v-if="$byu.search">
                <form method="get" @submit.prevent="$byu.search($byu.search.value, true)">
                    <input type="search" name="search" v-model="$byu.search.value" @keyup="$byu.search($byu.search.value, false)">
                </form>
            </byu-search>

            <!-- user login / logout -->
            <byu-user-info slot="user" login-url="#login">
                <a slot="login" href="#" @click.prevent="byu.auth.login()">Sign In</a>
                <a slot="logout" href="#" @click.prevent="byu.auth.logout()">Sign Out </a>
                <span slot="user-name" v-if="byu.user">{{byu.user.preferredFirstName}}</span>
            </byu-user-info>

            <!-- show navigation if there are links -->
            <byu-menu slot="nav" v-if="$store.state.site.navigation && $store.state.site.navigation.length > 0">
                <a href="#" @click.prevent="$router.push(link.href)"
                   :class="{ active: link.href === $route.path }"
                   v-for="link in $store.state.site.navigation">{{link.title}}</a>
            </byu-menu>
        </byu-header>

        <div id="content-area">
            <router-view></router-view>
        </div>

        <byu-footer></byu-footer>
    </div>
    <script src="bundle.js"></script>
</body>
</html>